<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<script defer
	src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.15.4/js/v4-shims.js"></script>
<title>Error</title>
</head>
<body style="background-color: #e6fafa">
	<h1 style="text-align: center; color: #5b5c5c">El ID introducido
		no es válido</h1>
	<img class="center" style="display: block"
		th:src="@{/images/errorId.png}">
	<div class="action">
		<button class="action-button center"
			style="width: 10%; display: block" onclick="goBack()">Volver</button>
	</div>

	<script>
		function goBack() {
			window.history.back();
		}
	</script>
</body>
</html>
