<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<title>Protectora Animales</title>
</head>
<body>
	<header th:replace="~{base::header(activeUrl='animal')}"></header>

	<section>
		<h1>Animales</h1>
		<table class="styled-table center">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Género</th>
					<th>Nº Refugio</th>
					<th>Raza</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="elemento:${listado}">
					<td th:text="${elemento.id}"></td>
					<td th:text="${elemento.nombre}"></td>
					<td th:text="${elemento.genero}"></td>
					<td th:text="${elemento.genero}"></td>
					<td th:text="${elemento.genero}"></td>
					<td><a th:href="@{/animal/} + ${elemento.id}"><i
							class="icon fas fa-search" style="color: #09BFE3"></i></a><a
						th:href="@{/animal/r/} + ${elemento.id}"><i
							class="icon fas fa-trash-alt" style="color: #F50033"></i></a></td>
				</tr>
			</tbody>
		</table>
	</section>

	<section>
		<h1>Añadir Nuevo Animal</h1>
		<div class="card">

			<form class="card-form" th:action="@{/animal/} " method="post">
				<div class="input">
					<input type="text" class="input-field" id="nombre" name="nombre"
						required /> <label class="input-label" for="nombre">Nombre</label>
				</div>
				<select id="genero" name="genero" required>
					<option class="prueba"
						th:each="genero:${T(com.proyecto.protectora.common.Genero).values()}"
						th:value="${genero}" th:text="${genero}"></option>
				</select>
				<div class="action">
					<button class="action-button" type="submit">Enviar</button>
				</div>
			</form>
		</div>
	</section>
	<section></section>
	<script defer
		src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
		integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
		crossorigin="anonymous"></script>
</body>
</html>
