<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<title>Protectora Animales</title>
</head>
<body>

	<header th:fragment="header">
	<nav>
		<div class="logo">
			<img th:src="@{/images/logo.PNG}">
		</div>
		<ul>
			<li><a class="active" th:href="@{/}" th:class="${activeUrl=='/' ? 'active' : ''}">Inicio</a></li>
			<li><a class="active" th:href="@{/animal}" th:class="${activeUrl=='animal' ? 'active' : ''}">Animales</a></li>
			<li><a class="active" th:href="@{/raza}" th:class="${activeUrl=='raza' ? 'active' : ''}">Razas</a></li>
			<li><a class="active" th:href="@{/refugio}" th:class="${activeUrl=='refugio' ? 'active' : ''}">Refugios</a></li>
		</ul>
	</nav>

	<div class="hero-image">
		<div class="hero-text">
			<span>ADOPTA</span>
			<p>No compres</p>
		</div>
	</div>
	</header>
	<section>
		<table class="styled-table center">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Género</th>
					<th>Nº Refugio</th>
					<th>Raza</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="elemento:${listado}">
					<td th:text="${elemento.id}"></td>
					<td th:text="${elemento.nombre}"></td>
					<td th:text="${elemento.genero}"></td>
				</tr>
			</tbody>
		</table>
	</section>
	<script defer
		src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
		integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
		crossorigin="anonymous"></script>
</body>
</html>
