<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<title>Protectora Animales</title>
</head>
<body>

	<header th:fragment="header">
		<nav>
			<div class="logo">
				<img th:src="@{/images/logo.PNG}">
			</div>
			<ul>
				<li><a class="active" th:href="@{/}" th:class="${activeUrl=='/' ? 'active' : ''}">Inicio</a></li>
				<li><a class="active" th:href="@{/refugio}" th:class="${activeUrl=='refugio' ? 'active' : ''}">Refugios</a></li>
				<li><a class="active" th:href="@{/raza}" th:class="${activeUrl=='raza' ? 'active' : ''}">Razas</a></li>
				<li><a class="active" th:href="@{/animal}" th:class="${activeUrl=='animal' ? 'active' : ''}">Animales</a></li>
				
				
			</ul>
		</nav>
	
		<div class="hero-image">
			<div class="hero-text">
				<span>ADOPTA</span>
				<p>No compres</p>
			</div>
		</div>
		
		<div class="success" th:if="${success}"><label th:text="${success}"></label></div>
		<div class="error" th:if="${error}"><label th:text="${error}"></label></div>
	</header>
	
	<script defer
		src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"
		integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+"
		crossorigin="anonymous"></script>
</body>
</html>
