<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Protectora Animales</title>
</head>
<body>
    <nav>
         <div class="logo">
            <img src="../static/images/logo.PNG">
         </div>
         <ul>
            <li><a class="active" href="#">Animales</a></li>
            <li><a href="#">Razas</a></li>
            <li><a href="#">Refugios</a></li>
         </ul>
      </nav>

      <section>
        <div class="hero-image">
            <div class="hero-text">
                <span>ADOPTA</span>
                <p>No compres</p>
            </div>
        </div>          
      </section>

      <section>
          <table class="styled-table center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Género</th>
            <th>Nº Refugio</th>
            <th>Raza</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>xXXX</td>
            <td>xXXX</td>
            <td>xXXX</td>
            <td>xXXX</td>
            <td>xXXX</td>
        </tr>
         <tr>
            <td>xXXX</td>
            <td>xXXX</td>
            <td>xXXX</td>
            <td>xXXX</td>
            <td>xXXX</td>
        </tr>
        <tr class="active-row">
            <td>XXXX</td>
            <td>XXXX</td>
            <td>XXXX</td>
            <td>XXXX</td>
            <td>XXXX</td>
        </tr>
    </tbody>
</table>
      </section>
</body>
</html>
